web/backend/core/weights/model_final_weights_20.pth filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
ML/data/model_weights_epoch_3.pth filter=lfs diff=lfs merge=lfs -text
